.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  height: 22px;
  width: 100%;
}

form {
  flex: 4 1 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

input.nickname,
button.send-button {
  flex: 1 1 0;
}

input.nickname {
  width: 50px;
}

button.send-button {
  max-width: 50px;
}

input.message {
  flex: 3 1 0;
  margin-left: 16px;
  margin-right: 16px;
}
